# Please Ignore - Deprecated notebook

# Objective
-------------

Obtain all the relevant context data for the bike sharer datasets a

- Author: Victor Rosales
- Date: 10/04/2025

# Libraries

In [1]:

import pandas as pd
import numpy as np
import requests
import json
import os

# Tess APIs

In [52]:
endpoint = "data"

token = "fZxXZUBSpEpLjUkOcpfUiGxiGxrKDwyi"
headers = {"token": token}

params = {
    'datasetid': 'NEXRAD3',
    'locationid': 'CITY:US060013',
    # "datatypeid": "DD",
    'startdate': '2
    016-01-01',
    'enddate': '2016-02-01',
    'limit': 1000,
    'offset': 0
}


url = f"https://www.ncei.noaa.gov/cdo-web/api/v2/{endpoint}"

response = requests.get(url, headers=headers, params=params)
response.text # .json()

'<?xml version="1.0" encoding="UTF-8" standalone="yes"?><response><statusCode>500</statusCode><userMessage>An error occured while servicing your request.</userMessage><developerMessage>An error occured while servicing your request.</developerMessage></response>'

In [49]:
df = pd.DataFrame(response.json()["results"])
df#.head(60)

                    date datatype            station attributes  value
0    2016-01-01T00:00:00     PRCP  GHCND:US1CALA0001   ,,N,0800      0
1    2016-01-01T00:00:00     SNOW  GHCND:US1CALA0001   ,,N,0800      0
2    2016-01-01T00:00:00     SNWD  GHCND:US1CALA0001   ,,N,0800      0
3    2016-01-01T00:00:00     PRCP  GHCND:US1CALA0003   ,,N,0700      0
4    2016-01-01T00:00:00     SNOW  GHCND:US1CALA0003   ,,N,0700      0
..                   ...      ...                ...        ...    ...
995  2016-01-05T00:00:00     TMIN  GHCND:USC00047326   ,,7,1600    111
996  2016-01-05T00:00:00     TOBS  GHCND:USC00047326   ,,7,1600    133
997  2016-01-05T00:00:00     PRCP  GHCND:USC00047776   ,,7,0800     23
998  2016-01-05T00:00:00     PRCP  GHCND:USC00047779   ,,7,0800     18
999  2016-01-05T00:00:00     PRCP  GHCND:USC00047785   ,,7,0800    526

[1000 rows x 5 columns]

In [50]:
df.pivot_table(index="date", columns="datatype", values="value")

datatype,ADPT,ASLP,ASTP,AWBT,AWND,PRCP,RHAV,RHMN,RHMX,SNOW,...,TMAX,TMIN,TOBS,WDF2,WDF5,WESD,WESF,WSF2,WSF5,WT08
date,,,,,,,,,,,,,,,,,,,,,
2016-01-01T00:00:00,-61.000000,10191.500000,10125.500000,48.000000,18.888889,0.000000,29.000000,15.000000,49.000000,0.0,...,160.774194,47.161290,130.1,174.444444,170.000000,NaN,NaN,53.222222,70.222222,1.0
2016-01-02T00:00:00,-17.000000,10180.333333,10115.000000,65.000000,13.111111,0.000000,42.333333,18.666667,75.333333,0.0,...,172.516129,62.161290,129.5,246.666667,186.666667,NaN,NaN,41.777778,55.666667,1.0
2016-01-03T00:00:00,52.000000,10137.666667,10067.666667,88.666667,14.333333,0.060000,62.666667,45.000000,76.333333,0.0,...,157.580645,61.354839,130.6,134.444444,131.111111,NaN,NaN,61.888889,82.111111,1.0
2016-01-04T00:00:00,81.333333,10090.000000,10023.666667,117.000000,15.222222,1.423077,62.000000,39.000000,82.666667,0.0,...,186.870968,97.032258,146.1,237.777778,173.333333,0.0,0.0,57.333333,78.111111,NaN
2016-01-05T00:00:00,NaN,NaN,NaN,NaN,NaN,121.275000,NaN,NaN,NaN,0.0,...,144.428571,87.285714,100.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN

In [99]:
token = "fZxXZUBSpEpLjUkOcpfUiGxiGxrKDwyi"
endpoint = "datacategories"

params = {
    'datasetid': 'NORMAL_HLY',
    'locationid': 'CITY:US000001',
    # 'startdate': '2016-01-01',
    # 'enddate': '2016-02-01',
    'limit': 100,
    'offset': 0
}

headers = {"token": token}
url = f"https://www.ncei.noaa.gov/cdo-web/api/v2/{endpoint}"

response = requests.get(url, headers=headers, params=params)
response.text

'{"metadata":{"resultset":{"offset":1,"count":5,"limit":100}},"results":[{"name":"Degree Days","id":"DD"},{"name":"Pressure","id":"PRES"},{"name":"Sky cover & clouds","id":"SKY"},{"name":"Air Temperature","id":"TEMP"},{"name":"Wind","id":"WIND"}]}'

In [69]:
for my_dict in response.json()["results"]:
    if "CA" in my_dict["name"]:
        print(my_dict)

{'mindate': '1948-07-01', 'maxdate': '2014-01-01', 'name': 'Vancouver, CA', 'datacoverage': 0.0678, 'id': 'CITY:CA000012'}
{'mindate': '1948-07-01', 'maxdate': '2013-12-22', 'name': 'Anaheim, CA US', 'datacoverage': 0.0241, 'id': 'CITY:US060001'}
{'mindate': '1948-07-01', 'maxdate': '2013-12-19', 'name': 'Bakersfield, CA US', 'datacoverage': 0.0231, 'id': 'CITY:US060002'}
{'mindate': '1948-07-01', 'maxdate': '2013-12-07', 'name': 'Barstow, CA US', 'datacoverage': 0.0059, 'id': 'CITY:US060003'}
{'mindate': '1948-07-01', 'maxdate': '2013-12-20', 'name': 'Blythe, CA US', 'datacoverage': 0.0067, 'id': 'CITY:US060004'}
{'mindate': '1948-07-01', 'maxdate': '2013-12-07', 'name': 'Chico, CA US', 'datacoverage': 0.0335, 'id': 'CITY:US060005'}
{'mindate': '1948-07-01', 'maxdate': '2013-12-16', 'name': 'Clearlake, CA US', 'datacoverage': 0.0531, 'id': 'CITY:US060006'}
{'mindate': '1948-07-01', 'maxdate': '2013-12-01', 'name': 'Coalinga, CA US', 'datacoverage': 0.0197, 'id': 'CITY:US060007'}
{'mindate': '1948-07-01', 'maxdate': '2008-05-01', 'name': 'El Centro, CA US', 'datacoverage': 0.0054, 'id': 'CITY:US060008'}
{'mindate': '1948-07-01', 'maxdate': '2013-12-24', 'name': 'Eureka, CA US', 'datacoverage': 0.102, 'id': 'CITY:US060009'}
{'mindate': '1948-07-01', 'maxdate': '2013-12-07', 'name': 'Fresno, CA US', 'datacoverage': 0.033, 'id': 'CITY:US060010'}
{'mindate': '1948-07-01', 'maxdate': '2013-12-11', 'name': 'Grass Valley, CA US', 'datacoverage': 0.0744, 'id': 'CITY:US060011'}
{'mindate': '1948-07-01', 'maxdate': '2013-12-19', 'name': 'Long Beach, CA US', 'datacoverage': 0.0241, 'id': 'CITY:US060012'}
{'mindate': '1948-07-01', 'maxdate': '2013-12-22', 'name': 'Los Angeles, CA US', 'datacoverage': 0.0324, 'id': 'CITY:US060013'}
{'mindate': '1948-07-01', 'maxdate': '2006-05-17', 'name': 'Merced, CA US', 'datacoverage': 0.0222, 'id': 'CITY:US060014'}
{'mindate': '1948-07-01', 'maxdate': '2013-12-18', 'name': 'Modesto, CA US', 'datacoverage': 0.0364, 'id': 'CITY:US060015'}
{'mindate': '1948-07-01', 'maxdate': '2013-12-07', 'name': 'Monterey, CA US', 'datacoverage': 0.0208, 'id': 'CITY:US060016'}
{'mindate': '1948-07-01', 'maxdate': '2013-12-07', 'name': 'Napa, CA US', 'datacoverage': 0.058, 'id': 'CITY:US060017'}
{'mindate': '1948-07-01', 'maxdate': '2013-12-07', 'name': 'Oakland, CA US', 'datacoverage': 0.0594, 'id': 'CITY:US060018'}
{'mindate': '1948-07-01', 'maxdate': '2008-01-22', 'name': 'Oceanside, CA US', 'datacoverage': 0.03, 'id': 'CITY:US060019'}
{'mindate': '1956-01-01', 'maxdate': '2010-02-01', 'name': 'Oxnard, CA US', 'datacoverage': 0.0338, 'id': 'CITY:US060020'}
{'mindate': '1948-07-01', 'maxdate': '2014-01-01', 'name': 'Palm Springs, CA US', 'datacoverage': 0.038, 'id': 'CITY:US060021'}
{'mindate': '1949-01-10', 'maxdate': '2013-12-07', 'name': 'Red Bluff, CA US', 'datacoverage': 0.0486, 'id': 'CITY:US060022'}
{'mindate': '1948-07-01', 'maxdate': '2013-12-06', 'name': 'Redding, CA US', 'datacoverage': 0.0631, 'id': 'CITY:US060023'}
{'mindate': '1948-07-01', 'maxdate': '2011-08-01', 'name': 'Ridgecrest, CA US', 'datacoverage': 0.0067, 'id': 'CITY:US060024'}
{'mindate': '1948-07-01', 'maxdate': '2013-12-20', 'name': 'Riverside, CA US', 'datacoverage': 0.0241, 'id': 'CITY:US060025'}
{'mindate': '1959-11-01', 'maxdate': '2014-01-01', 'name': 'Rosamond, CA US', 'datacoverage': 0.0307, 'id': 'CITY:US060026'}
{'mindate': '1936-01-01', 'maxdate': '2013-12-07', 'name': 'Sacramento, CA US', 'datacoverage': 0.0436, 'id': 'CITY:US060027'}
{'mindate': '1948-07-01', 'maxdate': '2013-12-07', 'name': 'Salinas, CA US', 'datacoverage': 0.0317, 'id': 'CITY:US060028'}
{'mindate': '1948-07-01', 'maxdate': '2014-01-01', 'name': 'San Bernardino, CA US', 'datacoverage': 0.0288, 'id': 'CITY:US060029'}
{'mindate': '1948-07-01', 'maxdate': '2013-12-19', 'name': 'San Diego, CA US', 'datacoverage': 0.03, 'id': 'CITY:US060030'}
{'mindate': '1948-07-01', 'maxdate': '2013-12-07', 'name': 'San Francisco, CA US', 'datacoverage': 0.0621, 'id': 'CITY:US060031'}
{'mindate': '1948-07-01', 'maxdate': '2013-12-20', 'name': 'San Jose, CA US', 'datacoverage': 0.0597, 'id': 'CITY:US060032'}
{'mindate': '1948-07-01', 'maxdate': '2013-12-07', 'name': 'San Luis Obispo, CA US', 'datacoverage': 0.0186, 'id': 'CITY:US060033'}
{'mindate': '1948-07-01', 'maxdate': '2013-12-22', 'name': 'Santa Ana, CA US', 'datacoverage': 0.0221, 'id': 'CITY:US060034'}
{'mindate': '1948-07-01', 'maxdate': '2013-12-07', 'name': 'Santa Barbara, CA US', 'datacoverage': 0.0303, 'id': 'CITY:US060035'}
{'mindate': '1948-07-01', 'maxdate': '2013-07-01', 'name': 'Santa Clarita, CA US', 'datacoverage': 0.033, 'id': 'CITY:US060036'}
{'mindate': '1948-07-01', 'maxdate': '2013-12-07', 'name': 'Santa Cruz, CA US', 'datacoverage': 0.0597, 'id': 'CITY:US060037'}
{'mindate': '1948-07-01', 'maxdate': '2013-12-19', 'name': 'Santa Maria, CA US', 'datacoverage': 0.0334, 'id': 'CITY:US060038'}
{'mindate': '1948-07-01', 'maxdate': '2013-12-06', 'name': 'Santa Rosa, CA US', 'datacoverage': 0.058, 'id': 'CITY:US060039'}
{'mindate': '1948-07-01', 'maxdate': '2013-11-07', 'name': 'Simi Valley, CA US', 'datacoverage': 0.0373, 'id': 'CITY:US060040'}
{'mindate': '1948-07-01', 'maxdate': '2001-08-01', 'name': 'Soledad, CA US', 'datacoverage': 0.0358, 'id': 'CITY:US060041'}
{'mindate': '1948-07-01', 'maxdate': '2013-12-28', 'name': 'Stockton, CA US', 'datacoverage': 0.0269, 'id': 'CITY:US060042'}
{'mindate': '1948-07-01', 'maxdate': '2013-12-07', 'name': 'Susanville, CA US', 'datacoverage': 0.0451, 'id': 'CITY:US060043'}
{'mindate': '1948-07-01', 'maxdate': '2013-12-06', 'name': 'Ukiah, CA US', 'datacoverage': 0.074, 'id': 'CITY:US060044'}
{'mindate': '1948-07-01', 'maxdate': '2013-12-07', 'name': 'Vallejo, CA US', 'datacoverage': 0.0392, 'id': 'CITY:US060045'}
{'mindate': '1948-07-01', 'maxdate': '1988-09-01', 'name': 'Visalia, CA US', 'datacoverage': 0.0256, 'id': 'CITY:US060046'}
{'mindate': '1948-07-01', 'maxdate': '2013-12-07', 'name': 'Yuba City, CA US', 'datacoverage': 0.0312, 'id': 'CITY:US060047'}

In [ ]:
# Summary 
'gov.noaa.ncdc:C00861' 'GHCND'
# Radar
'gov.noaa.ncdc:C00345' 'NEXRAD2'
'gov.noaa.ncdc:C00708' 'NEXRAD3'
# Normals
'gov.noaa.ncdc:C00823' 'NORMAL_DLY'
'gov.noaa.ncdc:C00824' 'NORMAL_HLY'
# Precepitation
'gov.noaa.ncdc:C00505' 'PRECIP_15'
'gov.noaa.ncdc:C00313' 'PRECIP_HLY'

In [ ]:
{
    'mindate': '1948-05-01',
    'maxdate': '2013-12-29',
    'name': 'Washington D.C., US',
    'datacoverage': 0.0852,
    'id': 'CITY:US000001'
}

In [ ]:
{
    'mindate': '1948-07-01', 
    'maxdate': '2013-12-22', 
    'name': 'Los Angeles, CA US', 
    'datacoverage': 0.0324, 
    'id': 'CITY:US060013'
}

In [1]:
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter

geolocator = Nominatim(user_agent="bike_share_geocoder")
geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)

def geocode_osm(location):
    try:
        location = geocode(f"{location}, Washington, DC, USA")
        if location:
            return location.latitude, location.longitude
    except:
        pass
    return None, None

# stations[['latitude', 'longitude']] = stations['station_name'].apply(
#     lambda x: pd.Series(geocode_osm(x))
# )

In [4]:
geocode(f"{location}, Washington, DC, USA")

Location(14th and Irving St NW, Irving Street Northwest, Columbia Heights, Ward 1, Washington, District of Columbia, 20010, United States, (38.9285598, -77.0322263, 0.0))

In [3]:
location = "14th & Irving St NW"

complete_location = f"{location}, Washington, DC, USA"

In [5]:
from geopy.geocoders import Nominatim

# Initialize the geocoder with a unique user agent
# geolocator = Nominatim(user_agent="my-application")

# Define the latitude and longitude
latitude = "42.35959"  # Latitude for Boston, MA
longitude = "-71.05671" # Longitude for Boston, MA

# Perform reverse geocoding
location = geolocator.reverse(latitude + "," + longitude)

# Extract the postal code from the raw address data
address = location.raw['address']
zipcode = address.get('postcode')

# Print the full address and the zip code
print(f"Full address: {location}")
print(f"Zip Code: {zipcode}")

Full address: Project Management Academy, 4, Faneuil Hall Square, Dock Square, Boston, Suffolk County, Massachusetts, 02109, United States
Zip Code: 02109

In [7]:
from uszipcode import SearchEngine#, SimpleOrComprehensiveArgEnum

# This will download the comprehensive database the first time you run it.
search = SearchEngine(simple_or_comprehensive=uszipcode.SimpleOrComprehensiveArgEnum.comprehensive)

# Search for a specific ZIP code
zipcode = search.by_zipcode("90210")

# Print the available demographic information
if zipcode:
    print(f"Demographic information for ZIP code {zipcode.zipcode}:")
    print(f"  Population: {zipcode.population}")
    print(f"  Population Density: {zipcode.population_density} per sq. mi.")
    print(f"  Housing Units: {zipcode.housing_units}")
    print(f"  Median Household Income: ${zipcode.median_household_income}")
    print(f"  Land Area: {zipcode.land_area_in_sqmi} sq. mi.")
    print(f"  Water Area: {zipcode.water_area_in_sqmi} sq. mi.")
else:
    print("ZIP code not found or no data available.")

NameError: name 'uszipcode' is not defined

In [8]:
from uszipcode import SearchEngine

# Use 'comprehensive' directly as a string
search = SearchEngine(simple_or_comprehensive=SearchEngine.SimpleOrComprehensiveArgEnum.comprehensive)

# Now you can use the search object as normal
zipcode = search.by_zipcode("02109")
print(f"Population for 90210: {zipcode.population}")

Population for 90210: 3771

In [10]:
zipcode.population_by_age

[{'key': 'Male',
  'values': [{'x': 0, 'y': 62},
   {'x': 1, 'y': 26},
   {'x': 2, 'y': 15},
   {'x': 3, 'y': 24},
   {'x': 4, 'y': 198},
   {'x': 5, 'y': 345},
   {'x': 6, 'y': 248},
   {'x': 7, 'y': 154},
   {'x': 8, 'y': 155},
   {'x': 9, 'y': 138},
   {'x': 10, 'y': 124},
   {'x': 11, 'y': 114},
   {'x': 12, 'y': 92},
   {'x': 13, 'y': 94},
   {'x': 14, 'y': 65},
   {'x': 15, 'y': 37},
   {'x': 16, 'y': 31},
   {'x': 17, 'y': 29}]},
 {'key': 'Female',
  'values': [{'x': 0, 'y': 59},
   {'x': 1, 'y': 34},
   {'x': 2, 'y': 19},
   {'x': 3, 'y': 22},
   {'x': 4, 'y': 211},
   {'x': 5, 'y': 333},
   {'x': 6, 'y': 216},
   {'x': 7, 'y': 137},
   {'x': 8, 'y': 79},
   {'x': 9, 'y': 89},
   {'x': 10, 'y': 86},
   {'x': 11, 'y': 91},
   {'x': 12, 'y': 122},
   {'x': 13, 'y': 82},
   {'x': 14, 'y': 60},
   {'x': 15, 'y': 39},
   {'x': 16, 'y': 50},
   {'x': 17, 'y': 91}]},
 {'key': 'Total',
  'color': '#000000',
  'values': [{'x': 0, 'y': 121},
   {'x': 1, 'y': 60},
   {'x': 2, 'y': 34},
   {'x': 3, 'y': 46},
   {'x': 4, 'y': 409},
   {'x': 5, 'y': 678},
   {'x': 6, 'y': 464},
   {'x': 7, 'y': 291},
   {'x': 8, 'y': 234},
   {'x': 9, 'y': 227},
   {'x': 10, 'y': 210},
   {'x': 11, 'y': 205},
   {'x': 12, 'y': 214},
   {'x': 13, 'y': 176},
   {'x': 14, 'y': 125},
   {'x': 15, 'y': 76},
   {'x': 16, 'y': 81},
   {'x': 17, 'y': 120}]}]

In [6]:
zipcode.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x238116d6750>,
 'post_office_city': 'Boston, MA',
 'area_code_list': '617',
 'median_household_income': 119196,
 'population_by_year': [{'key': 'Data',
   'values': [{'x': 2007, 'y': 4432},
    {'x': 2008, 'y': 4227},
    {'x': 2009, 'y': 4222},
    {'x': 2010, 'y': 4276},
    {'x': 2011, 'y': 3972},
    {'x': 2012, 'y': 3980},
    {'x': 2013, 'y': 3940},
    {'x': 2014, 'y': 3970},
    {'x': 2015, 'y': 3980},
    {'x': 2017, 'y': 3970},
    {'x': 2018, 'y': 3820}]}],
 'year_housing_was_built': [{'key': 'Data',
   'values': [{'x': '1939 Or Earlier', 'y': 1277},
    {'x': '1940s', 'y': 61},
    {'x': '1950s', 'y': 60},
    {'x': '1960s', 'y': 34},
    {'x': '1970s', 'y': 294},
    {'x': '1980s', 'y': 336},
    {'x': '1990s', 'y': 163},
    {'x': '2000s', 'y': 135},
    {'x': '2010 Or Later', 'y': 12}]}],
 'monthly_rent_including_utilities_3plus_b': [{'key': 'Data',
   'values': [{'x': '< $200', 'y': 0},
    {'x': '$200-$299', 'y': 0},
    {'x': '$300-$499', 'y': 0},
    {'x': '$500-$749', 'y': 0},
    {'x': '$750-$999', 'y': 0},
    {'x': '$1,000+', 'y': 35}]}],
 'household_investment_income____average_income_per_household_by_income_source': [{'key': 'Data',
   'values': [{'x': 'Interest', 'y': 33029.7468},
    {'x': 'Ordinary Dividends', 'y': 81523.9726},
    {'x': 'Qualified Dividends', 'y': 66047.1429},
    {'x': 'Capital Gains', 'y': 196375.7576}]}],
 'common_city_list': ['Boston'],
 'population': 3771,
 'bounds_west': -71.059795,
 'population_by_age': [{'key': 'Male',
   'values': [{'x': 0, 'y': 62},
    {'x': 1, 'y': 26},
    {'x': 2, 'y': 15},
    {'x': 3, 'y': 24},
    {'x': 4, 'y': 198},
    {'x': 5, 'y': 345},
    {'x': 6, 'y': 248},
    {'x': 7, 'y': 154},
    {'x': 8, 'y': 155},
    {'x': 9, 'y': 138},
    {'x': 10, 'y': 124},
    {'x': 11, 'y': 114},
    {'x': 12, 'y': 92},
    {'x': 13, 'y': 94},
    {'x': 14, 'y': 65},
    {'x': 15, 'y': 37},
    {'x': 16, 'y': 31},
    {'x': 17, 'y': 29}]},
  {'key': 'Female',
   'values': [{'x': 0, 'y': 59},
    {'x': 1, 'y': 34},
    {'x': 2, 'y': 19},
    {'x': 3, 'y': 22},
    {'x': 4, 'y': 211},
    {'x': 5, 'y': 333},
    {'x': 6, 'y': 216},
    {'x': 7, 'y': 137},
    {'x': 8, 'y': 79},
    {'x': 9, 'y': 89},
    {'x': 10, 'y': 86},
    {'x': 11, 'y': 91},
    {'x': 12, 'y': 122},
    {'x': 13, 'y': 82},
    {'x': 14, 'y': 60},
    {'x': 15, 'y': 39},
    {'x': 16, 'y': 50},
    {'x': 17, 'y': 91}]},
  {'key': 'Total',
   'color': '#000000',
   'values': [{'x': 0, 'y': 121},
    {'x': 1, 'y': 60},
    {'x': 2, 'y': 34},
    {'x': 3, 'y': 46},
    {'x': 4, 'y': 409},
    {'x': 5, 'y': 678},
    {'x': 6, 'y': 464},
    {'x': 7, 'y': 291},
    {'x': 8, 'y': 234},
    {'x': 9, 'y': 227},
    {'x': 10, 'y': 210},
    {'x': 11, 'y': 205},
    {'x': 12, 'y': 214},
    {'x': 13, 'y': 176},
    {'x': 14, 'y': 125},
    {'x': 15, 'y': 76},
    {'x': 16, 'y': 81},
    {'x': 17, 'y': 120}]}],
 'housing_occupancy': [{'key': 'Data',
   'values': [{'x': 'Owned Households With A Mortgage', 'y': 511},
    {'x': 'Owned Households Free & Clear', 'y': 182},
    {'x': 'Renter Occupied Households', 'y': 1335},
    {'x': 'Households Vacant', 'y': 434}]}],
 'employment_status': [{'key': 'Data',
   'values': [{'x': 'Worked Full-time With Earnings', 'y': 2092},
    {'x': 'Worked Part-time With Earnings', 'y': 880},
    {'x': 'No Earnings', 'y': 949}]}],
 'household_retirement_income____percent_of_households_receiving_retirement_incom': [{'key': 'Data',
   'values': [{'x': 'IRA/pension/annuity Distributions', 'y': 20.7273},
    {'x': 'Social Security', 'y': 16}]}],
 'county': 'Suffolk County',
 'population_density': 21721.0,
 'bounds_east': -71.046389,
 'population_by_gender': [{'key': 'Data',
   'values': [{'x': 'Male', 'y': 1951}, {'x': 'Female', 'y': 1820}]}],
 'vacancy_reason': [{'key': 'Data',
   'values': [{'x': 'For Rent', 'y': 89},
    {'x': 'Rented & Unoccupied', 'y': 11},
    {'x': 'For Sale Only', 'y': 60},
    {'x': 'Sold & Unoccupied', 'y': 3},
    {'x': 'For Season Recreational Or Occasional Use', 'y': 262},
    {'x': 'For Migrant Workers', 'y': 0},
    {'x': 'Vacant For Other Reasons', 'y': 9}]}],
 'average_household_income_over_time': [{'key': 'Data',
   'values': [{'x': 2007, 'y': 279830.3596},
    {'x': 2008, 'y': 293512.234},
    {'x': 2009, 'y': 228363.6059},
    {'x': 2010, 'y': 252374.834},
    {'x': 2011, 'y': 229450.2119},
    {'x': 2012, 'y': 267536.6906},
    {'x': 2013, 'y': 287353.0686},
    {'x': 2014, 'y': 382867.029},
    {'x': 2015, 'y': 409242.6523},
    {'x': 2017, 'y': 408388.4892},
    {'x': 2018, 'y': 392052.3636}]}],
 'household_retirement_income____average_income_per_household_by_income_source': [{'key': 'Data',
   'values': [{'x': 'IRA/pension/annuity Distributions', 'y': 60801.7544},
    {'x': 'Social Security', 'y': 21154.5455}]}],
 'state': 'MA',
 'land_area_in_sqmi': 0.17,
 'bounds_north': 42.371197,
 'population_by_race': [{'key': 'Data',
   'values': [{'x': 'White', 'y': 3320},
    {'x': 'Black Or African American', 'y': 120},
    {'x': 'American Indian Or Alaskan Native', 'y': 6},
    {'x': 'Asian', 'y': 225},
    {'x': 'Native Hawaiian & Other Pacific Islander', 'y': 0},
    {'x': 'Other Race', 'y': 48},
    {'x': 'Two Or More Races', 'y': 52}]}],
 'owner_occupied_home_values': [{'key': 'Data',
   'values': [{'x': '$1-$24,999', 'y': 10},
    {'x': '$25,000-$49,999', 'y': 0},
    {'x': '$50,000-$99,999', 'y': 0},
    {'x': '$100,000-$149,999', 'y': 6},
    {'x': '$150,000-$199,999', 'y': 0},
    {'x': '$200,000-$399,999', 'y': 120},
    {'x': '$400,000-$749,999', 'y': 332},
    {'x': '$750,000+', 'y': 322}]}],
 'household_income': [{'key': 'Data',
   'values': [{'x': '< $25,000', 'y': 289},
    {'x': '$25,000-$44,999', 'y': 196},
    {'x': '$45,000-$59,999', 'y': 100},
    {'x': '$60,000-$99,999', 'y': 364},
    {'x': '$100,000-$149,999', 'y': 457},
    {'x': '$150,000-$199,999', 'y': 227},
    {'x': '$200,000+', 'y': 548}]}],
 'source_of_earnings': [{'key': 'Data',
   'values': [{'x': 'Worked Full-time With Earnings', 'y': 2092},
    {'x': 'Worked Part-time With Earnings', 'y': 880},
    {'x': 'No Earnings', 'y': 949}]}],
 'lat': 42.37,
 'water_area_in_sqmi': 0.11,
 'bounds_south': 42.356572,
 'head_of_household_by_age': [{'key': 'Owner',
   'values': [{'x': 0, 'y': 12},
    {'x': 1, 'y': 113},
    {'x': 2, 'y': 119},
    {'x': 3, 'y': 131},
    {'x': 4, 'y': 141},
    {'x': 5, 'y': 122},
    {'x': 6, 'y': 46},
    {'x': 7, 'y': 9}]},
  {'key': 'Renter',
   'values': [{'x': 0, 'y': 165},
    {'x': 1, 'y': 543},
    {'x': 2, 'y': 193},
    {'x': 3, 'y': 123},
    {'x': 4, 'y': 107},
    {'x': 5, 'y': 82},
    {'x': 6, 'y': 64},
    {'x': 7, 'y': 58}]},
  {'key': 'Total',
   'color': '#000000',
   'values': [{'x': 0, 'y': 177},
    {'x': 1, 'y': 656},
    {'x': 2, 'y': 312},
    {'x': 3, 'y': 254},
    {'x': 4, 'y': 248},
    {'x': 5, 'y': 204},
    {'x': 6, 'y': 110},
    {'x': 7, 'y': 67}]}],
 'rental_properties_by_number_of_rooms': [{'key': 'Data',
   'values': [{'x': 'Studio Apartment', 'y': 35},
    {'x': '1 Bedroom', 'y': 827},
    {'x': '2 Bedroom', 'y': 500},
    {'x': '3+ Bedroom', 'y': 29}]}],
 'annual_individual_earnings': [{'key': 'Data',
   'values': [{'x': '< $10,000', 'y': 281},
    {'x': '$10,000-$19,999', 'y': 157},
    {'x': '$20,000-$29,999', 'y': 168},
    {'x': '$30,000-$39,999', 'y': 186},
    {'x': '$40,000-$49,999', 'y': 233},
    {'x': '$50,000-$64,999', 'y': 390},
    {'x': '$65,000-$74,999', 'y': 223},
    {'x': '$75,000-$99,999', 'y': 289},
    {'x': '$100,000+', 'y': 1045}]}],
 'means_of_transportation_to_work_for_workers_16_and_over': [{'key': 'Data',
   'values': [{'x': 'Car, Truck, Or Van', 'y': 844},
    {'x': 'Public Transportation', 'y': 418},
    {'x': 'Taxicab', 'y': 18},
    {'x': 'Motorcycle', 'y': 0},
    {'x': 'Bicycle, Walked, Or Other Means', 'y': 1308},
    {'x': 'Worked At Home', 'y': 176}]}],
 'zipcode_type': 'STANDARD',
 'lng': -71.05,
 'housing_units': 2462,
 'polygon': [[-71.055759, 42.356913],
  [-71.056292, 42.356874],
  [-71.05659, 42.356852],
  [-71.057191, 42.356822],
  [-71.057184, 42.356973],
  [-71.057162, 42.357491],
  [-71.057783, 42.357453],
  [-71.058048, 42.357502],
  [-71.058144, 42.357565],
  [-71.058007, 42.35772],
  [-71.057933, 42.357834],
  [-71.057883, 42.357986],
  [-71.057839, 42.358121],
  [-71.057826, 42.358281],
  [-71.057805, 42.358924],
  [-71.057258, 42.358888],
  [-71.057046, 42.358883],
  [-71.056825, 42.358875],
  [-71.05698, 42.359361],
  [-71.057155, 42.359922],
  [-71.057221, 42.36021],
  [-71.056808, 42.360327],
  [-71.056709, 42.36036],
  [-71.05688, 42.360766],
  [-71.056913, 42.36091],
  [-71.056919, 42.361001],
  [-71.056984, 42.361148],
  [-71.056485, 42.361333],
  [-71.05669, 42.361504],
  [-71.056876, 42.361597],
  [-71.056832, 42.361928],
  [-71.05729, 42.361679],
  [-71.057641, 42.361511],
  [-71.057757, 42.361755],
  [-71.057909, 42.361957],
  [-71.05817, 42.362272],
  [-71.058176, 42.362425],
  [-71.058142, 42.362502],
  [-71.058014, 42.362664],
  [-71.057954, 42.362748],
  [-71.057866, 42.362803],
  [-71.057768, 42.362863],
  [-71.057716, 42.363461],
  [-71.057709, 42.363543],
  [-71.05757, 42.36342],
  [-71.057332, 42.36318],
  [-71.057051, 42.362987],
  [-71.056227, 42.362386],
  [-71.056176, 42.362357],
  [-71.056041, 42.362442],
  [-71.055771, 42.362612],
  [-71.055699, 42.362652],
  [-71.05564, 42.362618],
  [-71.055528, 42.362553],
  [-71.055372, 42.362542],
  [-71.055291, 42.362544],
  [-71.055198, 42.362569],
  [-71.054993, 42.362717],
  [-71.054933, 42.36276],
  [-71.054708, 42.362884],
  [-71.054189, 42.36322],
  [-71.054061, 42.363108],
  [-71.053649, 42.362841],
  [-71.053617, 42.362817],
  [-71.053533, 42.362872],
  [-71.053352, 42.36299],
  [-71.053003, 42.36322],
  [-71.052681, 42.363437],
  [-71.05246, 42.363586],
  [-71.05224, 42.363626],
  [-71.052061, 42.36371],
  [-71.052006, 42.363762],
  [-71.051888, 42.363917],
  [-71.051843, 42.364002],
  [-71.051795, 42.364094],
  [-71.05177, 42.3642],
  [-71.051769, 42.364263],
  [-71.051551, 42.3642],
  [-71.051466, 42.364257],
  [-71.051096, 42.364507],
  [-71.051103, 42.364841],
  [-71.051549, 42.364912],
  [-71.051786, 42.36495],
  [-71.051876, 42.364979],
  [-71.052059, 42.36504],
  [-71.052832, 42.365262],
  [-71.053014, 42.365314],
  [-71.052982, 42.365405],
  [-71.052968, 42.365458],
  [-71.052934, 42.365582],
  [-71.052719, 42.365532],
  [-71.051851, 42.365329],
  [-71.051729, 42.365301],
  [-71.051709, 42.365359],
  [-71.051632, 42.365506],
  [-71.05154, 42.365668],
  [-71.051664, 42.365691],
  [-71.052015, 42.365758],
  [-71.052689, 42.365814],
  [-71.052861, 42.365829],
  [-71.052801, 42.366052],
  [-71.052739, 42.36629],
  [-71.052686, 42.366531],
  [-71.052632, 42.366773],
  [-71.052617, 42.366819],
  [-71.052538, 42.367056],
  [-71.052473, 42.36721],
  [-71.052912, 42.367365],
  [-71.0534, 42.367525],
  [-71.053468, 42.367544],
  [-71.053786, 42.367637],
  [-71.053973, 42.367702],
  [-71.054041, 42.367726],
  [-71.05411, 42.367636],
  [-71.054331, 42.367347],
  [-71.054707, 42.3675],
  [-71.054839, 42.367367],
  [-71.055091, 42.367504],
  [-71.055136, 42.367529],
  [-71.054764, 42.367944],
  [-71.054946, 42.367986],
  [-71.055779, 42.368197],
  [-71.056085, 42.368282],
  [-71.056187, 42.368291],
  [-71.056374, 42.368292],
  [-71.056507, 42.368265],
  [-71.056628, 42.368217],
  [-71.056694, 42.36818],
  [-71.056883, 42.368074],
  [-71.057324, 42.367799],
  [-71.05756, 42.367652],
  [-71.058042, 42.367283],
  [-71.058525, 42.366952],
  [-71.058543, 42.367021],
  [-71.058585, 42.367117],
  [-71.058694, 42.367295],
  [-71.058859, 42.367519],
  [-71.059051, 42.367779],
  [-71.059105, 42.367858],
  [-71.059558, 42.368427],
  [-71.059795, 42.368767],
  [-71.058827, 42.369209],
  [-71.057141, 42.369982],
  [-71.056284, 42.370267],
  [-71.054995, 42.370697],
  [-71.051699, 42.370697],
  [-71.050895, 42.370697],
  [-71.050708, 42.370748],
  [-71.049095, 42.371197],
  [-71.048844, 42.370904],
  [-71.049575, 42.370189],
  [-71.048089, 42.368803],
  [-71.047025, 42.367812],
  [-71.046672, 42.367503],
  [-71.046705, 42.366247],
  [-71.046637, 42.364603],
  [-71.046389, 42.363935],
  [-71.049409, 42.364045],
  [-71.0496, 42.364044],
  [-71.05109, 42.364175],
  [-71.051088, 42.364065],
  [-71.051115, 42.363979],
  [-71.051195, 42.36372],
  [-71.05135, 42.36347],
  [-71.051414, 42.363386],
  [-71.051647, 42.36311],
  [-71.051778, 42.362942],
  [-71.051898, 42.362805],
  [-71.051063, 42.362248],
  [-71.051101, 42.362174],
  [-71.051201, 42.362066],
  [-71.051378, 42.36194],
  [-71.051956, 42.361668],
  [-71.052264, 42.361896],
  [-71.052503, 42.362082],
  [-71.053326, 42.361187],
  [-71.053431, 42.361104],
  [-71.053488, 42.361051],
  [-71.053581, 42.360973],
  [-71.053621, 42.36094],
  [-71.053695, 42.360874],
  [-71.053535, 42.360779],
  [-71.053299, 42.360639],
  [-71.053155, 42.360536],
  [-71.052964, 42.360364],
  [-71.052641, 42.360002],
  [-71.052489, 42.35975],
  [-71.052429, 42.359595],
  [-71.052401, 42.3595],
  [-71.052379, 42.359506],
  [-71.052353, 42.359518],
  [-71.0523, 42.359542],
  [-71.052246, 42.359568],
  [-71.052169, 42.359601],
  [-71.051934, 42.359648],
  [-71.051788, 42.359671],
  [-71.051195, 42.359759],
  [-71.051195, 42.359197],
  [-71.051635, 42.359143],
  [-71.05153, 42.358781],
  [-71.051682, 42.358754],
  [-71.051976, 42.358699],
  [-71.051941, 42.358637],
  [-71.051784, 42.358295],
  [-71.051613, 42.357921],
  [-71.051724, 42.357912],
  [-71.051786, 42.357919],
  [-71.051861, 42.357928],
  [-71.051957, 42.357964],
  [-71.052204, 42.358057],
  [-71.052754, 42.35826],
  [-71.052928, 42.358058],
  [-71.053034, 42.357916],
  [-71.053188, 42.357707],
  [-71.053779, 42.357446],
  [-71.053615, 42.357306],
  [-71.053169, 42.356924],
  [-71.053413, 42.356804],
  [-71.053885, 42.356572],
  [-71.054848, 42.35735],
  [-71.05502, 42.357245],
  [-71.05519, 42.357143],
  [-71.055539, 42.356971],
  [-71.055759, 42.356913]],
 'families_vs_singles': [{'key': 'Data',
   'values': [{'x': 'Husband Wife Family Households', 'y': 507},
    {'x': 'Single Guardian', 'y': 92},
    {'x': 'Singles', 'y': 1002},
    {'x': 'Singles With Roommate', 'y': 427}]}],
 'monthly_rent_including_utilities_studio_apt': [{'key': 'Data',
   'values': [{'x': '< $200', 'y': 15},
    {'x': '$200-$299', 'y': 59},
    {'x': '$300-$499', 'y': 0},
    {'x': '$500-$749', 'y': 41},
    {'x': '$750-$999', 'y': 26},
    {'x': '$1,000+', 'y': 686}]}],
 'sources_of_household_income____percent_of_households_receiving_income': [{'key': 'Data',
   'values': [{'x': 'Wages', 'y': 79.6364},
    {'x': 'Business', 'y': 16},
    {'x': 'Partnership', 'y': 16.3636},
    {'x': 'Unemployment', 'y': 2.1818}]}],
 'travel_time_to_work_in_minutes': [{'key': 'Data',
   'values': [{'x': '< 10', 'y': 370},
    {'x': '10-19', 'y': 890},
    {'x': '20-29', 'y': 649},
    {'x': '30-39', 'y': 411},
    {'x': '40-44', 'y': 73},
    {'x': '45-59', 'y': 101},
    {'x': '60-89', 'y': 67},
    {'x': '90+', 'y': 27}]}],
 'zipcode': '02109',
 'timezone': 'America/New_York',
 'occupied_housing_units': 2028,
 'households_with_kids': [{'key': 'Data',
   'values': [{'x': 'Households Without Kids', 'y': 1873},
    {'x': 'Households With Kids', 'y': 155}]}],
 'housing_type': [{'key': 'Data',
   'values': [{'x': 'In Occupied Housing Units', 'y': 3396},
    {'x': 'Correctional Facility For Adults', 'y': 0},
    {'x': 'Juvenile Facilities', 'y': 0},
    {'x': 'Nursing Facilities', 'y': 103},
    {'x': 'Other Institutional', 'y': 0},
    {'x': 'College Student Housing', 'y': 0},
    {'x': 'Military Quarters', 'y': 54},
    {'x': 'Other Noninstitutional', 'y': 218}]}],
 'monthly_rent_including_utilities_1_b': [{'key': 'Data',
   'values': [{'x': '< $200', 'y': 20},
    {'x': '$200-$299', 'y': 11},
    {'x': '$300-$499', 'y': 0},
    {'x': '$500-$749', 'y': 104},
    {'x': '$750-$999', 'y': 0},
    {'x': '$1,000+', 'y': 365}]}],
 'sources_of_household_income____average_income_per_household_by_income_source': [{'key': 'Data',
   'values': [{'x': 'Wages', 'y': 202831.5068},
    {'x': 'Business', 'y': 67606.8182},
    {'x': 'Partnership', 'y': 271720},
    {'x': 'Unemployment', 'y': 6700}]}],
 'educational_attainment_for_population_25_and_over': [{'key': 'Data',
   'values': [{'x': 'Less Than High School Diploma', 'y': 466},
    {'x': 'High School Graduate', 'y': 560},
    {'x': "Associate's Degree", 'y': 67},
    {'x': "Bachelor's Degree", 'y': 1157},
    {'x': "Master's Degree", 'y': 792},
    {'x': 'Professional School Degree', 'y': 366},
    {'x': 'Doctorate Degree', 'y': 119}]}],
 'major_city': 'Boston',
 'radius_in_miles': 0.625,
 'median_home_value': 676700,
 'children_by_age': [{'key': 'Male',
   'values': [{'x': 0, 'y': 14},
    {'x': 1, 'y': 12},
    {'x': 2, 'y': 10},
    {'x': 3, 'y': 8},
    {'x': 4, 'y': 6},
    {'x': 5, 'y': 9},
    {'x': 6, 'y': 4},
    {'x': 7, 'y': 4},
    {'x': 8, 'y': 3},
    {'x': 9, 'y': 4},
    {'x': 10, 'y': 0},
    {'x': 11, 'y': 2},
    {'x': 12, 'y': 1},
    {'x': 13, 'y': 8},
    {'x': 14, 'y': 1},
    {'x': 15, 'y': 3},
    {'x': 16, 'y': 1},
    {'x': 17, 'y': 5},
    {'x': 18, 'y': 14},
    {'x': 19, 'y': 36}]},
  {'key': 'Female',
   'values': [{'x': 0, 'y': 11},
    {'x': 1, 'y': 14},
    {'x': 2, 'y': 16},
    {'x': 3, 'y': 2},
    {'x': 4, 'y': 9},
    {'x': 5, 'y': 7},
    {'x': 6, 'y': 7},
    {'x': 7, 'y': 8},
    {'x': 8, 'y': 3},
    {'x': 9, 'y': 6},
    {'x': 10, 'y': 3},
    {'x': 11, 'y': 4},
    {'x': 12, 'y': 1},
    {'x': 13, 'y': 5},
    {'x': 14, 'y': 1},
    {'x': 15, 'y': 2},
    {'x': 16, 'y': 2},
    {'x': 17, 'y': 2},
    {'x': 18, 'y': 15},
    {'x': 19, 'y': 24}]},
  {'key': 'Total',
   'color': '#000000',
   'values': [{'x': 0, 'y': 25},
    {'x': 1, 'y': 26},
    {'x': 2, 'y': 26},
    {'x': 3, 'y': 10},
    {'x': 4, 'y': 15},
    {'x': 5, 'y': 16},
    {'x': 6, 'y': 11},
    {'x': 7, 'y': 12},
    {'x': 8, 'y': 6},
    {'x': 9, 'y': 10},
    {'x': 10, 'y': 3},
    {'x': 11, 'y': 6},
    {'x': 12, 'y': 2},
    {'x': 13, 'y': 13},
    {'x': 14, 'y': 2},
    {'x': 15, 'y': 5},
    {'x': 16, 'y': 3},
    {'x': 17, 'y': 7},
    {'x': 18, 'y': 29},
    {'x': 19, 'y': 60}]}],
 'monthly_rent_including_utilities_2_b': [{'key': 'Data',
   'values': [{'x': '< $200', 'y': 0},
    {'x': '$200-$299', 'y': 0},
    {'x': '$300-$499', 'y': 0},
    {'x': '$500-$749', 'y': 0},
    {'x': '$750-$999', 'y': 0},
    {'x': '$1,000+', 'y': 14}]}],
 'household_investment_income____percent_of_households_receiving_investment_income': [{'key': 'Data',
   'values': [{'x': 'Interest', 'y': 57.4545},
    {'x': 'Ordinary Dividends', 'y': 53.0909},
    {'x': 'Qualified Dividends', 'y': 50.9091},
    {'x': 'Capital Gains', 'y': 48}]}],
 'school_enrollment_age_3_to_17': [{'key': 'Data',
   'values': [{'x': 'Enrolled In Public School', 'y': 80},
    {'x': 'Enrolled In Private School', 'y': 89},
    {'x': 'Not Enrolled In School', 'y': 38}]}]}